@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');



.container-1{
width:50%;
height:50%;
}

#crc1{
fill:none;
stroke:rgb(57, 188, 197);

stroke-width:8;
mask:url(#msk1);
}


.container-2{
  width:50%;
  height:50%;
  }
  
  #crc2{
  fill:none;
  stroke:#FF4200;
  
  stroke-width:8;
  mask:url(#msk1);
  }


.container-3{
  width:50%;
  height:50%;
  }
  
  #crc3{
  fill:none;
  stroke:#004EC2;
  
  stroke-width:8;
  mask:url(#msk1);
  }

  



input[type="radio"]:checked + label::after {
  content: '';
  position: absolute;
  width: 2.1ex;
  height: 0.9ex;
  background: rgba(0, 0, 0, 0);
  top: 0.1ex;
  left: 0.3ex;
  border: 4px solid rgb(57, 188, 197);
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-55deg);
}
input[type="radio"]:checked + label.main__label::after {
   content: '';
    position: absolute;
    width: 2.1ex;
    height: 0.9ex;
    background: rgba(0, 0, 0, 0);
    top: 0.2ex;
    left: 0.8ex;
    border: 4px solid rgb(57, 188, 197);
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-55deg);
}

input[type="radio"] {
  line-height: 2.1ex;
}

input[type="radio"],
input[type="radio"] {
  position: absolute;
  left: -999em;
}

input[type="radio"] + label {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: -25%;
  height: 2ex;
  width: 2ex;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
  margin-right: 0.5em;
}





input[type="checkbox"]:checked + label::after {
  content: '';
  position: absolute;
  width: 2.1ex;
  height: 0.9ex;
  background: rgba(0, 0, 0, 0);
  top: 0.1ex;
  left: 0.8ex;
  border: 4px solid rgb(57, 188, 197);
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-55deg);
}

input[type="checkbox"] {
  line-height: 2.1ex;
}

input[type="checkbox"],
input[type="checkbox"] {
  position: absolute;
  left: -999em;
}

input[type="checkbox"] + label {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: -25%;
  height: 2ex;
  width: 2ex;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
  margin-right: 0.5em;
}

input[class="main__r"]:checked + label.main__label::after {
  content: '';
  position: absolute;
  
  width: 2.1ex;
  height: 0.9ex;
  background: rgba(0, 0, 0, 0);
  top: 0.4ex;
  left: 0.8ex;
  border: 4px solid #FF4200;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-55deg);
}
input[class="main__rar"]:checked + label.main__label::after {
  content: '';
  position: absolute;
  width: 2.1ex;
  height: 0.9ex;
  background: rgba(0, 0, 0, 0);
  top: 0.1ex;
  left: 0.8ex;
  border: 4px solid #004EC2;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-55deg);
}




.file-upload input[type="file"]{

  display: none;/* скрываем input file */
  
  }
  
  /* задаем стили кнопки выбора файла*/
  
  .file-upload {
  
  position: relative;
  
  overflow: hidden;
  
  width: 250px;
  
  height: 40px;

  margin-top: 42px;
  border-radius: 10px;
  
  color: black;

  }
  
  /* стиль текста на кнопке*/
  
  .file-upload span {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    color: #FF0000;
  
  }





.items .item, .dropzone .item {
    margin-right: 10px;
}

.item {
  width: 189px;
  border-radius: 10px;
  height: 40px;
  border: #39bcc5 1px solid;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.06em;
  font-variant: small-caps;
  color: #39bcc5;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.item1 {
  color: #FF4200;;
}

.item2 {
  color: #004EC2;
}

.selected {
  background: linear-gradient(174.2deg, #41F1FC -25.02%, #0F86F3 122.68%);
  color: #ffffff;
  
}

.select {
  background: #FF4200;
  color: #ffffff;
}
.select-dop {
  background: #004EC2;
  color: #ffffff;
}



.circliful {
  position: relative; 
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
  width: 100%;
  position: absolute;
  text-align: center;
  display: inline-block;
}

.circle-info, .circle-info-half {
color: #999;
}

.circliful .fa {
margin: -10px 3px 0 3px;
position: relative;
bottom: 4px;
}


/*Стили для анимированного кружка на страницах оформления заказа*/
svg#gits {
  display: block;
  width: 100%;
}
svg#gits circle { 
  stroke: #41F1FC;
  fill: none;
  stroke-width: 4px;
  transition: .2s;
  stroke-dashArray: 0 600;
}
svg#gits text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 44px;
  letter-spacing: 0.05em;
  font-variant: small-caps;
  color: rgb(57, 188, 197);
  text-anchor: middle;
  border: 1px solid black;
}

svg#git {
  display: block;
  width: 100%;
}
svg#git circle { 
  stroke:#FF4200;
  fill: none;
  stroke-width: 4px;
  transition: .2s;
  stroke-dashArray: 0 600;
}
svg#git text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 44px;
  letter-spacing: 0.05em;
  font-variant: small-caps;
  color: #FF4200;
  text-anchor: middle;
  border: 1px solid black;
}

/*Стрелки для выпадающего списка school-program*/

.selec {
  position: relative;
}
.selecc {
  position: relative;
}
.seleci {
  position: relative;
}
.selecci {
  position: relative;
}
.selett {
  position: relative;
}
.selett1 {
  position: relative;
}
.seleci:after{
  content: "";
  background-image: url(../img/student-program/Rectangle.png);
  position: absolute;
  left: 340px;
  width: 21px;
  height: 12px;
  top: 14px;
  z-index: -1;
}
.selecci:after{
  content: "";
  background-image: url(../img/student-program/Rectangle.png);
  position: absolute;
  left: 340px;
  width: 21px;
  height: 12px;
  top: 50px;
  z-index: -1;
}
.selec:after {
  content: "";
  background-image: url(../img/school-program/Rectangle.png);
  position: absolute;
  left: 340px;
  width: 21px;
  height: 12px;
  top: 14px;
  z-index: -1;
}
.selecc:after {
  content: "";
  background-image: url(../img/school-program/Rectangle.png);
  position: absolute;
  left: 340px;
  width: 21px;
  height: 12px;
  top: 50px;
  z-index: -1;
}
.selett:after {
  content: "";
  background-image: url(../img/dop-scule/Rectangle.png);
  position: absolute;
  left: 340px;
  width: 24px;
  height: 22px;
  top: 5px;
  z-index: -1;
}
.selett1:after {
  content: "";
  background-image: url(../img/dop-scule/Rectangle.png);
  position: absolute;
  left: 340px;
  width: 24px;
  height: 22px;
  top: 40px;
  z-index: -1;
}
@media (max-width: 768px) {
  .selec::after {
    left: 290px;   
  }
  .selecc::after {
    left: 290px;   
  }
  .seleci:after {
    left: 290px;   
  }
  .selecci:after {
    left: 290px;   
  }
  .selett:after {
    left: 290px;   
  }
  .selett1:after {
    left: 290px;   
  }
}
.form {
  width: 600px;
}

.form  input {
width: 300px; 
height: 30px; 
margin: 0px 0px 0px 0px; 
padding: 6px 6px 6px 6px; 
background: white; 
border-radius: 8px; 
border: 1px solid #c7c7c7; 
outline: none;
}

.form input:required {
  background: #fff;
}
.form input:required:valid {
  background: #fff;
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
background: url("images/valid.png") #fff no-repeat 98% center;
}

.form input:focus:invalid {
  background: url("images/invalid.png") #fff no-repeat 98% center;
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535;
}

button.submit {
  background-color: #68b12f;
  border: 1px solid #509111;
  border-bottom: 1px solid #5b992b;
  border-radius: 8px;
  box-shadow: inset 0 1px 0 0 #9fd574;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #396715;
margin: 20px 0px 0px 0px;
outline: none;
}
button.submit:hover {
  opacity:.85;
  cursor: pointer; 
}
button.submit:active {
  border: 1px solid #20911e;
outline: none;
  
}
button {
  border: none;
}







/* = Общие стили
************************/


/* =Стили для header'а
************************/
#header {
	display: block;
	margin: 0; 
	background: #f9f9f9;
}		
.back { font:normal 3em 'Agency FB'; color: #0074A3; position:absolute; top: 10px; right: 10%;}
.back:hover {text-decoration: underline;}
#header h1 {margin: 0 0 0 2em;}
#header h1 a { display: inline-block; font: normal 3em 'Agency FB'; text-decoration: none; }
.how { color: #990000; }
.to { color: #0074A3; }
.make { color: #006600; }
.demo { font: normal 2em 'Agency FB';}

/* Main	*/
#main {
	width: 94%;
	padding: 1% 3%;
}
#main h1 { 
	text-align: center;
	font: 2.2em Helvetica, Arial; 
	margin: 20px 0 10px 0;
	padding-bottom: 15px;
	border-bottom: 2px solid #444444; 
}
.clear {
	margin-top: -1px;
	height: 1px;
	clear:both;
	zoom: 1;
}

/* Стили для формы */
.form_box {
	width: 300px;
	margin: 40px auto;
}

.form_style p {
  margin-bottom: 25px;
  position: relative;
}
.form_style .rcheck {
  margin-bottom: 10px;
}
.form_style p label {
	font-size: 13px;
	font-weight: bold;
	color: #444444;
	display: block;
  cursor: pointer;
}
.form_style .rcheck label {
	font-size: 13px;
	font-weight: normal;
	color: #444444;
	display: inline;
  vertical-align: top;
}
.form_style input[type="text"] {
	display: block;
	border: 2px solid #cfcfcf;
	font-size: 14px;
	color: #444444;
	padding: 7px 7px 8px;
	width: 250px;
}
.form_style input[type="checkbox"] {
	display: inline-block;
  border: 1px solid #cfcfcf;
  width: 14px;
  margin: 4px 4px 0 0;
  vertical-align: top;
}
.form_style input:focus {
	outline: none;
	border-color: #07a6e6;
}
.form_style .btnsubmit {
	border: none;
	width: 180px;
	text-align: center;
	background: #07a6e6;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
	height: 35px;
	line-height: 28px;
	padding: 0;
}
.form_style input.rf_error {
  border-color: #d8512d;
}
.form_style .rfield_error {
  display: block;
  padding: 0px 10px;
  background-color: #d8512d;
  color: #fff;
  font-size: 12px;
  z-index: 1;
  position: absolute;
  top: 25px;
  left: auto;
  right: 32px;
  visibility: hidden;
}
.form_style .rcheck .rfield_error {
  top: 0px;
  left: 22px;
  right: auto;
}
.form_style .btnsubmit:hover {
	background: #009ac2;
}
.form_style .btnsubmit:active {
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
  outline: none;
}
.form_style .btnsubmit:focus {
  outline: none;
}
.form_style .btnsubmit.disabled,
.form_style .btnsubmit.disabled:hover {
	background: #afdde6;
	cursor: default;
}