.dop
   &_titl
     display: none
   &_option
     position: relative
   &_select
    border-radius: 10px
    border: 1px #004EC2 solid
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.06em;
    font-variant: small-caps;
    color: #004EC2
     &::-webkit-input-placeholder 
       font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
       font-style: normal;
       font-weight: normal;
       font-size: 18px;
       line-height: 27px;
       display: flex;
       align-items: center;
       letter-spacing: 0.06em;
       font-variant: small-caps;
       color: #004EC2;
    &-img
      position: absolute
   &-text__main
     color: #004EC2;
   &_title
     display: inline-block
     width: 536px;
     height: 79px;
     font-family: Montserrat
     font-style: normal
     font-weight: 500
     font-size: 36px
     line-height: 44px
     letter-spacing: 0.05em
     font-variant: small-caps;
     color: #004EC2
     margin-right: 20px 

  
@media (max-width:768px)
 .dop
   &_title
     display: none
   &_titl
     margin-top: 90px
     display: block
     font-family: Montserrat;
     font-style: normal;
     font-weight: 600;
     font-size: 36px;
     line-height: 44px;
     letter-spacing: 0.05em;
     font-variant: small-caps;
     color: #004EC2
     margin-bottom: 60px
   
  
  
 
 