.dop
   &_select
    width: 378px
    height: 40px
    border-radius: 10px
    border: 1px #004EC2 solid
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.06em;
    font-variant: small-caps;
    color: #004EC2
   &-text__main
     color: #004EC2;
   &_title
     position: absolute;
     width: 536px;
     height: 79px;
     left: 875px;
     top: 215px;
     font-family: Montserrat;
     font-style: normal;
     font-weight: 500;
     font-size: 36px;
     line-height: 44px;
     letter-spacing: 0.05em;
     font-variant: small-caps;
     color: #004EC2;
 
  
 
 