.error 
  color: #ff4200
.main__text-orange
  color: #ff4200
  font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.05em;
  font-variant: small-caps;
.main__text-blue
  color: #004EC2
  font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.05em;
  font-variant: small-caps;
#dpcontainer img 
  width: 40px
  margin-left: 10px
  cursor: pointer
input [type=file]
  color: #FF0000
.maps
  width: 625px
#file-name1
  margin-bottom: 15px
.school__container
  background: linear-gradient(87.53deg, #0f1012 -70.47%, #393b3f 103.27%);
  padding-bottom: 20px
  padding-top: 20px
.school_title
    display: inline-block
    width: 566px;
    height: 79px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    background: linear-gradient(173.5deg, #41F1FC -25.02%, #0F86F3 122.68%); 
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent    
.main
  padding-top: 100px
  padding-bottom: 100px
  &__clock
    margin-bottom: 10px
    display: flex
    justify-content: space-between
    align-items: center
    border-color: linear-gradient(176.09deg, #41F1FC -25.02%, #0F86F3 122.68%);
    &:last-child
      margin-bottom: 0
    &-title
      font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.05em;
      font-variant: small-caps;
      color: #333333;
      margin-right: 15px
      width: 35px
    &-button
      width: 189px
      border-radius: 10px
      height: 40px
      border: #41F1FC 1px solid
      font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.06em;
      font-variant: small-caps;
      margin-right: 4px
    &-dop
      border: 1px solid #004ec2
    &-student
      border: #FF4200 1px solid 
      &:last-child
        margin-right: none
  &_top
    margin-top: 35px
  &__textarea
    margin-top: 35px
    border: 1px solid #39bcc5
    border-radius: 10px 
    width: 378px
    height: 100px
    &::-webkit-input-placeholder 
       font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
       font-style: normal;
       font-weight: normal;
       font-size: 18px;
       line-height: 27px;
       display: flex;
       align-items: center;
       letter-spacing: 0.06em;
       font-variant: small-caps;
       color: #39bcc5
       opacity: 1
  &__file
    margin-bottom: 35px
    color: red
  &__img-group
    height: 40px
    width: 40px
    display: inline-block
  &_select
    width: 378px
    height: 40px
    border-radius: 10px
    border: 1px solid rgb(57, 188, 197)
    font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.06em;
    font-variant: small-caps;
    color: rgb(57, 188, 197); 
    -webkit-background-clip: text
    display: block
    &-one 
      
  &__text-top
   background: linear-gradient(177.45deg, #41F1FC -25.02%, #0F86F3 122.68%)
   -webkit-background-clip: text
   -webkit-text-fill-color: transparent
   font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
   font-style: normal
   font-weight: bold
   font-size: 20px
   line-height: 27px
   letter-spacing: 0.05em
   font-variant: small-caps
   margin-bottom: 25px
   display: flex
   flex-direction: column 
   &:last-child
     margin-bottom: 0
  &__block
    margin-top: 50px
    display: flex
    &-text
      display: flex
      justify-content: space-between 
  &__title
    font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
    font-style: normal
    font-weight: 800
    font-size: 20px
    line-height: 27px
    letter-spacing: 0.05em
    font-variant: small-caps
    background: #333333
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    display: inline-block
    &-clock
      margin-bottom: 35px
    &-two
      margin-top: 0
    &:first-child
      margin-top: 0
  &__title-none
    font-family: Montserrat,serif
    font-style: normal
    font-weight: 800
    font-size: 20px
    line-height: 27px
    letter-spacing: 0.05em
    font-variant: small-caps
    background: #333333
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  &__title-class
    font-family: Montserrat,serif
    font-style: normal
    font-weight: 800
    font-size: 20px
    line-height: 27px
    letter-spacing: 0.05em
    font-variant: small-caps
    background: #333333
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    margin-top: 35px
    &:first-child 
      margin-top: 0
  &__title-thanks
    font-size: 25px
  &__subtitle
    width: 407px
    height: 80px
    display: inline-block
    font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 28px
    letter-spacing: 0.05em
    font-variant: small-caps
    background: #333333
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    margin-top: 30px
    margin-bottom: 80px
    &-final
      margin-bottom: 30px
      display: inline-block
      margin-top: 30px
  &__dop
    border-radius: 10px;
    border: 1px solid rgb(57, 188, 197); 
    width: 378px
    height: 40px
    margin-top: 35px
    &_t 
      margin-top: 0
    &_b 
      margin-bottom: 35px
    &-one
      width: 40px
      margin-left: 10px
    &::-webkit-input-placeholder 
       font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
       font-style: normal;
       font-weight: normal;
       font-size: 18px;
       line-height: 27px;
       display: flex;
       align-items: center;
       letter-spacing: 0.06em;
       font-variant: small-caps;
       color: #39bcc5
       opacity: 1
  &__row
    display: flex
    align-items: center
    margin-top: 35px
    margin-bottom: 35px
  &__pred
    width: 297px
    height: 39px
    background: linear-gradient(293.96deg, #FF571D 0%, #FE6C39 94.46%)
    border-radius: 100px
    font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 43px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    justify-content: center
    color: #FFFFFF;
    margin: auto
    margin-top: 80px
  &-auto
    display: flex
    align-items: center
    justify-content: space-around
    &__text
      font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 0.05em;
      font-variant: small-caps;
      background: linear-gradient(165.12deg, #41F1FC -25.02%, #0F86F3 122.68%);
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
    &__image
      margin-right: 35px
  &__item-left
    padding-top: 40px
    padding-right: 180px
    border-top: 1px solid rgba(0, 0, 0, 0.2)
    border-right: 1px solid rgba(0, 0, 0, 0.2)
    border-radius: 10px
    width: 587px
    display: inline-block
  &__item-right
    margin-left: 68px
    width: 621px
  &__item-thanks
    padding-bottom: 80px
  &__download
    display: flex
    flex-direction: column
  &__form
    margin-bottom: 35px
    display: flex
    flex-direction: column
  &__input
    display: flex
    align-items: center
    margin-top: 20px
    margin-bottom: 35px
    &-1
      margin-bottom: 0
    &-name
      margin-top: 35px
    &:first-child
      margin-bottom: 0
     
  &__label
    font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    color: #000000;
    padding: 0 5px 
    border-radius: 10px
    &.not-checked 
      background-color: rgba(#ff4200, .15)
      
  &__text-right
    font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    color: #000000;
    display: inline-block
    margin-top: 30px
  &__text-dop
    margin-top: 0
    margin-bottom: 30px
  &__button
    display: flex
    justify-content: center
    align-items: center
    margin-left: 100px
    margin-top: 50px
    background: linear-gradient(174.2deg, #41F1FC -25.02%, #0F86F3 122.68%);
    border-radius: 100px;
    width: 297px;
    height: 44px;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    color: #FFFFFF;
    font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    &-thanks
      width: 353px;
      height: 39px;
      margin-left: 0
  &__text-one
     margin-bottom: 25px
  &__text-number
    display: inline-block
     
@media (max-width: 1150px)
  .school_title
    width: 400px
  .clock
    display: flex
    flex-wrap: wrap
  .main
    &__clock
      flex-wrap: wrap
      flex-direction: column
      &-button
        margin-bottom: 10px
    &__item-right
      margin-left: 30px
    &__item-left
      padding-right: 20px
    &__button
      margin-left: auto
      margin-right: auto
@media (max-width: 1400px)
  .clock
    display: flex
    flex-wrap: wrap
  .main
    &__clock
      flex-wrap: wrap
      flex-direction: column
      &-button
        margin-bottom: 10px
    &__item-right
      margin-left: 30px
    &__item-left
      padding-right: 20px
    &__button
      margin-left: auto
      margin-right: auto
@media (max-width: 930px)
  .main
    &__dop
      width: 300px
    &__comment
      width: 378px
@media (max-width: 875px)
  .main
    &__block
      flex-wrap: wrap
    &__item-right
      margin-top: 60px
    &__item-thanks
      padding-bottom: 50px
@media (max-width: 768px)
 .clock
    display: flex
    flex-wrap: wrap
    justify-content: center
 .main__clock-title
   align-self: flex-start
   margin-right: 0
 .school_title
   display: none
 .maps
   width: 400px
 .main
    &__clock
      flex-wrap: wrap
      flex-direction: column
      &-button
        margin-bottom: 10px
    &__textarea
      width: 327px
    &__pred
      margin-top: 35px
    &_select
      width: 327px
      height: 40px
    &__dop
      width: 327px
    &__block
      flex-wrap: wrap
      flex-direction: column
    &__item-right
      margin-left: 0
      width: 328px
      margin: auto
    &__item-thanks
      padding-bottom: 0
    &__text-right
      width: 328px
    &__item-left
      border: 0
      width: 328px
      padding-top: 0
      padding-right: 0
      margin: auto
      text-align: center
    &__form
    &-auto
      margin-top: 0
      display: flex
      flex-direction: column
      &__text
        margin-top: 18px
        width: 190.55px
        text-align: center
      &__image
        margin: auto
    &__button
      margin-left: 10px
      &-thanks
        width: 300px
        height: 39px
    &__subtitle 
      width: 328px
      height: 112px
 
.form__select 
  margin-top: 35px
.seleci,
.selec,
.selett
  margin-top: 35px 

   

         

  
