.school__container
  background: linear-gradient(87.53deg, #0f1012 -70.47%, #393b3f 103.27%);
  padding-bottom: 20px
  padding-top: 20px
.main
  padding-top: 100px
  padding-bottom: 100px
  &__text-top
   background: linear-gradient(177.45deg, #41F1FC -25.02%, #0F86F3 122.68%)
   -webkit-background-clip: text
   -webkit-text-fill-color: transparent
   font-family: Montserrat
   font-style: normal
   font-weight: bold
   font-size: 20px
   line-height: 27px
   letter-spacing: 0.05em
   font-variant: small-caps
   margin-bottom: 25px
   display: flex
   flex-direction: column 
   &:last-child
     margin-bottom: 0
  &__block
    margin-top: 50px
    display: flex
    &-text
      display: flex
      justify-content: space-between 
  &__title
    font-family: Montserrat
    font-style: normal
    font-weight: 800
    font-size: 20px
    line-height: 27px
    letter-spacing: 0.05em
    font-variant: small-caps
    background: #333333
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  &__subtitle
    width: 407px
    height: 80px
    display: inline-block
    font-family: Montserrat
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 28px
    letter-spacing: 0.05em
    font-variant: small-caps
    background: #333333
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    margin-top: 30px
    margin-bottom: 80px
  &-auto
    margin-top: 80px
    display: flex
    align-items: center
    justify-content: space-around
    padding-bottom: 100px
    &__text
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 0.05em;
      font-variant: small-caps;
      background: linear-gradient(165.12deg, #41F1FC -25.02%, #0F86F3 122.68%);
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
    &__image
      margin-right: 35px
  &__item-left
    padding-top: 40px
    padding-right: 180px
    border-top: 1px solid rgba(0, 0, 0, 0.2)
    border-right: 1px solid rgba(0, 0, 0, 0.2)
    border-radius: 10px
    width: 587px
    display: inline-block
  &__item-right
    margin-left: 68px
    width: 621px
  &__form
    margin-top: 35px
    margin-bottom: 35px
  &__text-right
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    color: #000000;
    display: inline-block
    margin-top: 30px
  &__button
    margin-left: 100px
    margin-top: 50px
    background: linear-gradient(174.2deg, #41F1FC -25.02%, #0F86F3 122.68%);
    border-radius: 100px;
    width: 297px;
    height: 44px;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  &__text-one
     margin-bottom: 25px

@media (max-width: 768px)
 .main
    &__block
      flex-wrap: wrap
      flex-direction: column
    &__item-right
      margin-left: 0
      width: 328px
      margin: auto
    &__text-right
      width: 328px
      height: 385px
    &__item-left
      border: 0
      width: 328px
      padding-top: 0
      padding-right: 0
      margin: auto
    &__form
      display: inline-block
    &-auto
      margin-top: 0
      display: flex
      flex-direction: column
      &__text
        margin-top: 18px
        width: 190.55px
        text-align: center
    &__button
      margin-left: 10px
    &__subtitle 
      width: 328px
      height: 112px

     
   

         

  
