.main-text__student
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.05em;
  font-variant: small-caps;
  color: #FF4200;
.student__title
    display: inline-block;
    width: 566px;
    height: 79px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    color: #FF4200;
.student__titl
  display: none
.student__h
  margin-top: 35px
  margin-bottom: 35px
.student__dop
  border: 1px solid #FF4200;
  color: #FF4200;
  &::-webkit-input-placeholder 
       font-family: Montserrat, Proxima Nova, Helvetica, sans-serif;
       font-style: normal;
       font-weight: normal;
       font-size: 18px;
       line-height: 27px;
       display: flex;
       align-items: center;
       letter-spacing: 0.06em;
       font-variant: small-caps;
       color: #FF4200;
       opacity: 1

@media (max-width: 768px)
   .main-text__student
      margin-top: 18px
      width: 190.55px
      text-align: center
   .student__title
     display: none
   .student__titl
     margin-top: 90px
     display: block
     font-family: Montserrat;
     font-style: normal;
     font-weight: 600;
     font-size: 36px;
     line-height: 44px;
     letter-spacing: 0.05em;
     font-variant: small-caps;
     color: #FF4200;
     margin-bottom: 60px
   
  